{% extends 'section.html' %}
{% block content %}
{% block image %}ares{% endblock %}
{% block id %}ares{% endblock %}
{% block title %}II. Meet Ares{% endblock %}

<!-- https://www.flickr.com/photos/32923045@N05/15301359273/ Hertie School of Governance / Vincent Mosch -->

{% block article %}
    <p>Ares has spent one half of his life in Greece, the other in Germany. For years, he led a normal life here: friends, job, family. But the economic crisis changed his views on his adopted country. As a Greek citizen, he found himself suddenly confronted with a racist escalation in public discourse. Ares Kalandides was born in Athens in 1964. He came to Berlin in 1989. “Two days after the wall came down”. </p>

    <div class="quote">
        <div class="body">Freedom was the main reason I came to Berlin. I didn't plan to go back at all.</div>
        <div class="author">Ares Kalandides</div>
    </div>

    <div class="center">
        <div class="iframe" data-src="http://player.vimeo.com/video/111758442?title=0&amp;byline=0&amp;portrait=0" data-ratio="1.77935943"></div>
    </div>

    <div class="quote">
        <div class="body">By chance I became involved in urban planning. Now I run my own company in that field.</div>
        <div class="author">Ares Kalandides</div>
    </div>

    <!-- <div class="legend">CAPTION?</div> -->
    <p>Ares moved to Berlin at a time when the city was undergoing a complete transformation. His life took some unexpected turns. With a degree in French literature and fluency in several other languages, Ares began working in the field of urban planning. He started <a href="http://www.inpolis.de/home_de.html">in:polis</a>, an urban development company which now employs 14 people, most of whom are German. Ares has consulted on dozens of projects of urban development throughout Germany and Europe and has published several research articles and books. He was among  those whom statistics define as “high-skilled migrants”. </p>

    <!-- Greek young unemployment rate over time -->
    <div class="iframe" data-src="http://cf.datawrapper.de/YgsOq/1/" data-ratio="1.5"></div>


    <p>When the 2008 crisis hit youth unemployment rates in Southern Europe skyrocketed. Year after year, the percentage of young Greeks without a job kept on rising. In 2013, for example, Eurostat  – the European Institute of Statistics – counted 58.3% young Greeks as unemployed.</p>
    <p>As a response to the crisis, many young Greeks decided to leave the country. Germany was one of their top destinations, but the flow of immigration triggered a hostile populist reaction among German elites and in public opinion at large.</p>

<!--
    <div class="quote">
        <div class="body">The 2008 crisis changed my life completely.</div>
        <div class="author">Ares Kalandides</div>
    </div> -->

    <div class="center">
        <div class="iframe" data-src="http://player.vimeo.com/video/111830134?title=0&amp;byline=0&amp;portrait=0" data-ratio="1.77935943"></div>
    </div>
<!--    <div class="legend">CAPTION?</div> -->

    <p>The perception of a “Greek invasion” entered into the German collective imaginary. However, official data from Eurostatdebunks the myth: The size of the Greek community in Germany has been roughly stable over the last six years.</p>


    <!-- Greeks in Germany -->
    <div class="iframe" data-src="http://cf.datawrapper.de/URPoh/2/" data-ratio="1.5"></div>

    <!-- <div class="quote">
        <div class="body">Germany is a country in general and Berlin is a city in particular where people think twice before making racist remarks, before making sexist remarks.</div>
        <div class="author">Ares Kalandides</div>
    </div> -->


    <p>Twenty-five years ago Ares fled Athens and the depressing atmosphere reigning in Greece in the late eighties. He found an open-minded society in Berlin where he could start a new life and he became a German citizen in 2000. But Ares has become alarmed by the rise of xenophobic rethoric in Germany since the 2008 crisis. The air has became unbreathable. He has ceased perceiving himself as a German-Greek. “If I could, I would give back my German nationality, but it is impossible.”</p>

    <div class="center">
        <div class="iframe" data-src="http://player.vimeo.com/video/111833169?title=0&amp;byline=0&amp;portrait=0" data-ratio="1.77935943"></div>
    </div>
    <!-- <div class="legend">CAPTION?</div> -->


    <!-- Foreigners living in Germany -->
<!--        <div class="iframe" data-src="http://cf.datawrapper.de/cOEPK/1/" data-ratio="1.5"></div> -->


    <div class="quote">
        <div class="body">I used to be Greek-German. Now I'm only Greek.</div>
        <div class="author">Ares Kalandides</div>
    </div>

{% endblock %}
{% endblock %}

