{% extends 'section.html' %}
{% block content %}
{% block image %}irida{% endblock %}
{% block id %}irida{% endblock %}
{% block title %}III. Meet Irida{% endblock %}

   <!-- https://www.flickr.com/photos/berlinergazette/15790588782/in/set-72157646951193493
Credit: Andi Weiland, cc by  -->
{% block article %}

    <p>Irida Baglanea is an actor, dancer and singer. Raised on the small island of Corfu, she also spent long periods in Africa and Latin America. In Athens, she studied acting at Karolos Koun Theatre School and Elliniko Theatre.</p>

    <div class="quote">
        <div class="body">Of course we should fight. We are at war.</div>
        <div class="author">Katerina Michailidi</div>
    </div>

    <p>Athens 2008: It was here in the Greek capital that the first riots broke out. Initially sparked by the killing of a teenager by the police, the wave of protest soon spread throughout the country. Young Greeks took their frustation about the economic situation of their country to the streets. There were violent clashes with police. Irida joined the demonstrations nearly every day. ”There was pepperspray in the air everywhere, and always a burnt smell.”, she recalls. “War. Every day war.”</p>

    <div class="center">
        <div class="iframe" data-src="http://player.vimeo.com/video/112431170?title=0&amp;byline=0&amp;portrait=0" data-ratio="1.77935943"></div>
    </div>
    <div class="legend"></div>

    <p>Irida moved to Germany in 2010. Many people didn't undertand her choice of destination. Her motivation to come to Berlin was  a professional one: She wanted to get involved in Brechtian theatre. “That was my dream,“ she says, “but I didn’t find it. At least not like I imagined it.“ There’s not always just one reason why people move to another country. When the economic crisis hit Europe, all of sudden every migrant from the South was perceived as someone who is looking for money, for a job. But the picture is more complex as the following chart illustrates.</p>

    <div class="center">
        <div class="iframe" data-src="http://cf.datawrapper.de/g2pLd/2/" data-ratio="1.5"></div>
    </div>

    <div class="center illustration full" data-src="static/images/irida-stage.jpg" data-ratio="1.30452675">
        <div class="legend">Irida at work on stage in Berlin. <a href="https://www.flickr.com/photos/32923045@N05/15687611888/">© Barbara Braun / MuTPhoto</a></div>
    </div>
<!--  https://www.flickr.com/photos/32923045@N05/15687611888/
Credit: Barbara Braun / MuTPhoto -->

    <p>Her Greek background turned out to be an opportunity as well as an obstacle in her work as an actor in Germany. “The way we do theatre is different in each culture”, Irida explains. “We have a totally different mentality. Of course this effects our work.” She struggles with always being labled a “foreigner”. “I will always have an accent” she states. </p>

    <div class="quote">
        <div class="body">Greece needs people now. Greece needs us.</div>
        <div class="author">Irida Baglanea</div>
    </div>


    <div class="center">
        <div class="iframe" data-src="http://player.vimeo.com/video/112431171?title=0&amp;byline=0&amp;portrait=0" data-ratio="1.77935943"></div>
    </div>
    <div class="legend"></div>


    <p>Irida is one of the many young people who have left Greece in the last five years. Her case shows that this is never an easy choice or situation. On the one hand, she feels that she should be in Greece to help, to protest, to fight against the crisis. On the other hand, she has built a professional life in Germany. And she feels there are a lot of things to be done about the crisis and about wrong perception here too. </p>

{% endblock %}
{% endblock %}

