{% extends 'section.html' %}
{% block content %}
{% block image %}katerina{% endblock %}
{% block id %}katerina{% endblock %}
{% block title %}I. Meet Katerina{% endblock %}
<!-- https://www.flickr.com/photos/berlinergazette/15759120816/in/photostream/  Andi Weiland, cc by  -->
{% block article %}
    <p>“The first day was a nightmare,” – recalls Katerina Michailidi, reflecting on her arrival in Berlin in {YEAR}, “But it turned out to be one of the best experiences in my life.” Born in Athens in 1986, she studied theatre at the National Kapodistrian University of Athens before  spending one semester studying at the Freie Universität as an Erasmus student. But this episode triggered a series of unexpected consequences. While she initially came to Berlin for a six month period, and ended up staying for more than six years.</p>

    <div class="center">
        <div class="iframe" data-src="http://player.vimeo.com/video/111830600?title=0&amp;byline=0&amp;portrait=0" data-ratio="1.77935943"></div>
    </div>
    <div class="legend">It was my choice…</div>

    <p>Katerina was one of the Greek university students who chose Germany as a destination country for their semesters abroad. During the last six academic years more than 2,500 Erasmus students from Greece enrolled in a German university.</p>

    <!-- Greek erasmus to Germany, over time -->
    <div class="iframe" data-src="http://cf.datawrapper.de/E5mo9/4/" data-ratio="1.5" style="margin:20px 0 0 0"></div>

    <p>In terms of percentages, the number of Greek students going on Erasmus exchanges to Germany as a proportion of the total number of Greek Erasmus students has been stable (13%). However, in 2012-2013 the percentage grew to 23%.</p>

    <p>When the crisis struck Greece in late 2008, Katerina was living in Berlin and followed the situation in her home country on the news. “I wanted to go back to Athens, but the crisis made me change my plans.” Friends and family also advised her to stay in Germany. As the crisis unfolded, the disturbing events in Greece made her feel like a powerless observer . “It felt like a bomb exploded”, Katerina remembers.</p>

    <div class="quote">
        <div class="body">To be honest: I felt a little bit guilty because I wasn’t home, fighting. I was here, in Germany, protecting my own life.</div>
        <div class="author">Katerina Michailidi</div>
    </div>


    <div class="center">
        <div class="iframe" data-src="http://player.vimeo.com/video/111833605?title=0&amp;byline=0&amp;portrait=0" data-ratio="1.77935943"></div>
    </div>

    <p>After graduating in Greece, Katerina returned to Berlin and started multiple activities. She began working for Sourcefabric, an open-source software organisation, freelancing for the Transmediale festival and managing various events. She co-founded Mixing Roots Productions, an organization that brought Greek musicians to the German capital. Later she also joined SUPERMARKT,a creative co-working and event space in Berlin,working as an events and communications manager.</p>

    <p>Katerina’s rarely felt her immigrant background  to be a problem in her daily life, except some infrequent episodes of casual discrimination. She experienced the atmosphere at her workplaces as one of mutual respect with her German colleagues. Katerina continues to live and work in Berlin. “I’m happy to belong to both countries,” she says.</p>

    <div class="quote">
        <div class="body">I feel at home in both countries.</div>
        <div class="author">Katerina Michailidi</div>
    </div>
{% endblock %}
{% endblock %}

