{% extends 'section.html' %}
{% block content %}

    <div class="main_title" id="start" data-src="{{ url_for("static", filename="images/main.jpg") }}">
        <div class="lead">
            {% trans %}Taxi to Berlin{% endtrans %}
            <p class="little">{% trans %}Stories of Greek migrants in the German capital{% endtrans %}</p>
        </div>
        <span class="scroll-indicator">
            <div class="icon icon-arrow-down"></div>
        </span>
    </div>
    <div class="article container" id="start">
        <div class="body">
            {% trans %}
            <p>The economic crisis that has haunted Europe for more than five years has also highlighted the topic of Greek migration to Germany. Mainstream media narratives tell a story about Greeks ruining their economy through corruption and laziness and now fleeing their homes to “invade” the wealthy North. But what if we looked beyond such stereotypes? Listening to the life stories of the Greeks who have come to Germany brings a series of complexities to surface. While many remain, some have moved back to their homeland. All of them once took a “Taxi to Berlin”. Join the ride!</p>
            {% endtrans %}
        </div>
    </div>
{% endblock %}
