{% extends 'section.html' %}
{% block content %}

    <div class="main_title" id="start" data-src="{{ url_for("static", filename="images/main.jpg") }}">
        <div class="lead">
            {% trans %}Taxi to Berlin{% endtrans %}
            <p class="little">{% trans %}Stories of Greek migrants in the German capital{% endtrans %}</p>
        </div>
        <span class="scroll-indicator">
            <div class="icon icon-arrow-down"></div>
        </span>
    </div>
    <div class="article container" id="start">
        <div class="body">
            {% trans %}
            <p>The economic crisis that has haunted Europe for more than five years has also highlighted the topic of Greek migration to Germany. Mainstream media narratives tell a story about Greeks ruining their economy through corruption and laziness and now fleeing their homes to “invade” the wealthy North. But what if we looked beyond such stereotypes? Listening to the life stories of the Greeks who have come to Germany brings a series of complexities to surface. While many remain, some have moved backed to their homeland. All of them once took a “Taxi to Berlin”. Join the ride!</p>
            {% endtrans %}
            <!-- <div class="iframe" data-src="http://vied12.cartodb.com/viz/e94c5cd0-bcf0-11e3-b563-0e230854a1cb/embed_map?title=false&description=false&search=false&shareable=false&cartodb_logo=false&layer_selector=false&legends=false&scrollwheel=false&fullscreen=false&sublayer_options=1&sql=&zoom=1&center_lat=38.47960905583197&center_lon=0.86328125" data-ratio="2" style="margin:20px 0 0 0"></div> -->
            {% trans %}

            <!-- <div class="legend map" >500 participants from 184 cities.</div>
 -->
<!-- https://www.flickr.com/photos/sixtus/15295501889/ main photo Photp by Mario Sixtus, cc by nc sa 2.0 -->
            {% endtrans %}
        </div>
    </div>
{% endblock %}
