{% extends 'section.html' %}
{% block content %}
{% block image %}prodromos{% endblock %}
{% block id %}prodromos{% endblock %}
{% block title %}IV. Meet Prodromos{% endblock %}
{% block article %}

    <p>"Heimat (Home) is where your friends are." says Prodromos Tsinikoris, a theater director, dramaturge and performer. Born in the German city of Wuppertal in 1981 as a son to Greek immigrants - his parents came  in the early 1970s as guest workers.</p>

    <div class="quote">
        <div class="body">In Germany, I could pass as a German.</div>
        <div class="author">Prodromos Tsinikoris</div>
    </div>

    <p>Hoping that their son might one day return to their home country, his parents decided to send him to a Greek school. As one of the main destinations for guest workers in West-Germany, North Rhine-Westphalia, currently has 12 Greek schools. These offer primary and secondary education to approximately 1,800 pupils.</p>

    <div class="center illustration full" data-src="static/images/prodromos-stage.jpg" data-ratio="1.30452675">
        <div class="legend">Telemachos in Berlin © <a href="https://www.flickr.com/photos/32923045@N05/15275809114/in/photostream/">Benjamin Krieg</a></div>
    </div>

    <p>After finishing school in 1999 Prodromos enrolled in university in Thessaloniki, Greece , much as his parents had wished. "It was my own choice," Prodromos states, "It felt natural". Since then he has lived in Germany as well as in Greece. Prodromos feels more attached to his Greek friends from university than his childhood friends: "When I’m with them, I feel I’m in the right spot." Right now he's still on the move: He keeps changing apartments in Athens.</p>

    <div class="quote">
        <div class="body">Heimat (Home) is where your friends are.</div>
        <div class="author">Prodromos Tsinikoris</div>
    </div>

    <div class="center">
        <div class="iframe" data-src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/179027429&amp;color=99a3a4&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false" data-ratio="3.51219512"></div>
    </div>
<!-- Flexibility and friends.
    Audio-Transcription: „In between Germany and Greece. Different cities. It was all about work, work, work. Being mobile and flexible on Europe’s labour market. If you have a job, this means you are happy. It’s not quite like that. What I came to understand during all these years of sleeping on couches or sleeping in hotels alone is this: Heimat is where you’re friends are.“ -->

    <p>Prodromos explored the issue of what is often referred to as "hybrid identity" in his recent theatre production. Its title, "Telemachos– Should I Stay or Should I go?," is derived from Greek mythology. Telemachus is the son of Odysseus who embrarks on a journey in search of news about his missing father. The play deals with Prodromos's experience of being caught up between Germany and Greece. When developing ideas for theatre, Prodromos wants to "discover something interesting happening in society."</p>


    <div class="center">
        <div class="iframe" data-src="http://player.vimeo.com/video/56747007?title=0&amp;byline=0&amp;portrait=0" data-ratio="1.77935943"></div>
    </div>

    <p>"I feel more German when I’m in Greece, and more Greek when I’m in Germany.", Prodromos explains. In conversations about the "others" in either country, he often finds himself in the role of "mediator", confronting common prejudices. Especially since the beginning of the crisis, he he has felt the need to defend Greece from criticism.</p>

    <div class="center">
        <div class="iframe" data-src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/179027850&amp;color=99a3a4&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false" data-ratio="3.51219512"></div>
    </div><!-- The discourse about Greece in Germany
    Audio-Transcription: „Whenever I was with Germans it was like I had to defend the Greeks. This was my role. Okay, it’s not so easy, its not as black and white as the „Bild“-Zeitung or another newspaper is telling us. But when I was with Greeks I was like: guys, you have never even seen a German. Not everyone of them is a Nazi or wants to occupy our country.“ -->

    <p>As a result of the crisis, Prodromos hesitates to mention his Greek background when asked where he'sfrom. "It's Not because I’m ashamed," he says, "I simply want to avoid stupid jokes." He feels tired of constantly being reminded of a crisis for which he is not responsible.</p>
    <p>He criticizes the decline of interest in the situation in Greece in the German media. He pinpoints the likely reason: "We had German and European elections. And we have to keep up appearances. It looks like Greece is doing fine, but it’s not."</p>

    <div class="quote">
        <div class="body">People get used to a situation. Even a bad one. And they try to survive.</div>
        <div class="author">Prodromos Tsinikoris</div>
    </div>

    <div class="center illustration full" data-src="static/images/prodromos-sunset.jpg" data-ratio="1.30452675">
        <div class="legend"> © <a href="https://www.flickr.com/photos/32923045@N05/15710776630/in/photostream/">Prodromos Tsinikoris</a></div>
    </div>

    <div class="center">
        <div class="iframe" data-src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/179027874&amp;color=99a3a4&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false" data-ratio="3.51219512"></div>
    </div><!-- It will take a generation
    Audio-Transcription:„I know more people now who are leaving Greece than I did three years ago. The unemployment rate is rising and this is not going to change in one or two years. To bring it back to normal levels of 5 or 8 percent will take a generation.“ -->

{% endblock %}
{% endblock %}

