<footer class="footer">
	<div>
		<ul class="list-inline logos">
			<li class="">
				<a href="http://berlinergazette.de" target="_blank">
					<img class="jpp_logo" src="{{ url_for("static", filename="logos/bg-logo-white.png") }}" alt="Berliner Gazette">
				</a>
			</li>
		</ul>
	</div>
	<div class="row clearfix">
		<div>Collaboratively created by <a
		href="http://berlinergazette.de/author/Irida-Baglanea/"
		target="_blank">Irida Baglanea</a>, <a
		href="http://berlinergazette.de/author/Annabel-Church/"
		target="_blank">Annabel Church</a>, <a
		href="http://berlinergazette.de/author/Wiebke-Kistenbruegger/"
		target="_blank">Wiebke Kistenbrügger</a>, <a
		href="http://berlinergazette.de/author/Mathieu-Magnaudeix/"
		target="_blank">Mathieu Magnaudeix</a>, <a
		href="http://berlinergazette.de/author/Danislava-Marinova/"
		target="_blank">Danislava Marinova</a>,  <a
		href="http://berlinergazette.de/author/Katerina-Michailidi/"
		target="_blank">Katerina Michailidi</a>, <a
		href="http://berlinergazette.de/author/Jacopo-Ottaviani/"
		target="_blank">Jacopo Ottaviani</a>, <a
		href="http://berlinergazette.de/author/Magdalena-Taube/"
		target="_blank">Magdalena Taube</a>. Conceived and facilitated by <a
		href="http://berlinergazette.de/author/Magdalena-Taube/"
		target="_blank">Magdalena Taube</a> and <a
		href="http://berlinergazette.de/" target="_blank">Berliner Gazette</a>.
		</div>
	</div>
	<div class="row">
		<div>Images:
			<a href="https://www.flickr.com/photos/sixtus/15295501889/">Header image by Mario Sixtus.</a>
			<a href="https://www.flickr.com/photos/berlinergazette/15759120816/in/photostream/">Katerina portrait by Andi Weiland.</a>
		</div>
		<div>
			<a href="https://www.flickr.com/photos/32923045@N05/15301359273/">Ares portrait by Hertie School of Governance © Vincent Mosch.</a>
		</div>
		<div>
			<a href="https://www.flickr.com/photos/berlinergazette/15790588782/in/set-72157646951193493">Irida portrait
		by Andi Weiland.</a>
			<a href="https://www.flickr.com/photos/32923045@N05/15763853860">Prodromos portrait © Ute Langkafel MAIFOTO. </a>
		</div>
	</div>
	<div class="row"><span class="mentions">All text and image material (if not credited differently) is under a
Creative Commons License CC-BY-NC-ND 3.0 <a href="http://berlingazette.com/" target="_blank">Berliner Gazette.</a>
</span></div>
	</div>
	<span class="github">
		<img src="{{url_for("static", filename="logos/github.png")}}"/>Code: CC-BY-SA <a href="https://github.com/jplusplus/resonate2014" target="_blank">{% trans %}Journalism++ SAS.{% endtrans %}</a>
	</span>

</footer>
