<footer class="footer">
	<div>
		<ul class="list-inline logos">
			<li class="">
				<a href="http://berlinergazette.de" target="_blank">
					<img class="jpp_logo" src="{{ url_for("static", filename="logos/bg-logo-white.png") }}" alt="Berliner Gazette">
				</a>
			</li>
		</ul>
	</div>
	<div class="row clearfix">
		{% trans %}
		<div><a href="https://twitter.com/berlinergazette" target="_blank">Magdelana Taube</a>, <a href="https://twitter.com/jackottaviani" target="_blank">Jacopo Ottaviani</a>, Irida Baglanea, <a href="https://twitter.com/SourceKat" target="_blank">Kateriana Michailidi</a>, <a href="https://twitter.com/mathieu_m " target="_blank">Mathieu Magnaudeix</a>, <a href="https://twitter.com/annabelchurch" target="_blank">Annabel Church</a>, Wiebke Kistenbrügger, Danislava Marinova

		<div>
			<a href="https://www.flickr.com/photos/sixtus/15295501889/">Main photo by Mario Sixtus, CC BY-NC-SA 2.0</a>,
			<a href="https://www.flickr.com/photos/berlinergazette/15759120816/in/photostream/">Katerina photo by Andi Weiland, CC BY 2.0 </a>,
			<a href="https://www.flickr.com/photos/32923045@N05/15301359273/">Hertie School of Governance © Vincent Mosch</a>,
		</div>
		<div>
			<a href="https://www.flickr.com/photos/berlinergazette/15790588782/in/set-72157646951193493">Irida photo by Andi Weiland, CC BY 2.0</a>,
			<a href="https://www.flickr.com/photos/32923045@N05/15872265796/sizes/o/">Telemachos in Berlin © Benjamin Krieg</a>
		</div>
		<div><span class="mentions">CC-BY-NC-ND 3.0 <a href="http://berlingazette.com/" target="_blank">Berliner Gazette</a> ⁞ Photos © <a href="http://berlingazette.com/" target="_blank">Berliner Gazette</a>.
</span></div>
		{% endtrans %}
	</div>
	<div class="row github">
		<img src="{{url_for("static", filename="logos/github.png")}}"/> <a href="https://github.com/arc64/bgcon-greek-migration" target="_blank">{% trans %}Give us feedback and grab the code !{% endtrans %}</a>
	</div>
	<div class="row thanks">
		{% trans %}
		<div>Thanks to the Resonate for their code.</div>
		<div>Special thanks to our photographer</div>
		{% endtrans %}
	</div>

</footer>
