<footer class="footer">
	<div>
		<ul class="list-inline logos">
			<li class="">
				<a href="http://jplusplus.org" target="_blank">
					<img class="jpp_logo" src="{{ url_for("static", filename="logos/bg-logo-white.png") }}" alt="Journalism ++">
				</a>
			</li>
		</ul>
	</div>
	<div class="row clearfix">
		{% trans %}
		<div><a href="https://twitter.com/berlinergazette" target="_blank">Magdelana Taube</a>, <a href="https://twitter.com/jackottaviani" target="_blank">Jacopo Ottaviani</a>, <a href="" target="_blank">Irida Baglanea</a>, <a href="" target="_blank">Kateriana Michailidi</a>, <a href="" target="_blank">Mathieu Magnaudeix</a>, <a href="" target="_blank">Annabel Church</a>, <a href="" target="_blank">Wiebke Kistenbrügger</a>, <a href="" target="_blank">Danislava Marinova</a>, <a href="" target="_blank">Annette Streicher</a></div>

		<div><span class="mentions">CC-BY-NC-ND 3.0 <a href="http://berlingazette.com/" target="_blank">Berliner Gazette</a> ⁞ Photos © <a href="http://berlingazette.com/" target="_blank">Berliner Gazette</a> and <a href="" target="_blank">Other credits</a>.</span></div>
		{% endtrans %}
	</div>
	<div class="row github">
		<img src="{{url_for("static", filename="logos/github.png")}}"/> <a href="https://github.com/arc64/bgcon-greek-migration" target="_blank">{% trans %}Give us feedback and grab the code !{% endtrans %}</a>
	</div>
	<div class="row thanks">
		{% trans %}
		<div>Thanks to the Resonate for their code.</div>
		<div>Special thanks to our photographer</div>
		{% endtrans %}
	</div>

</footer>
